go 1.22

use (
	./apps/gateway
	./apps/inventory
	./apps/notification
	./apps/outbox-relay
	./apps/payroll
	./apps/reporting-bff
	./apps/reports
	./apps/search
	./apps/messaging
	./packages/go/authz
	./packages/go/db
	./packages/go/events
	./packages/go/heroes
	./packages/go/otelx
)
